p
{
	text-align: center;
	color:blue;
}

h1
{
	text-decoration: underline;
}
.sub
{
	background-color: red;
}
#i2
{
	color: skyblue;
    font-style: italic;
}
img
{
	width: 300px;

}